@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme{
    --color-custom-teal-blue: #005163;
    --color-custom-navy-blue: #091A2B;
    --color-custom-steel-blue: #3B4876;
    --color-custom-light-gray: #999999;
    --color-custom-grayish-white: #F1F3F4;
    --color-custom-lavender-blue: #BDC4E0;

    --font-inter: "Inter", serif;
}

body{
    font-family: var(--font-inter);
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
}